* {
  box-sizing: border-box;
}

body {
  background-color: lavender;
}
h1 {
  font-family: Georgia, serif; 
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

section {
    text-align: center;
    width: 33.33%;
    float: left;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    color: black;
    background-color: rgb(134, 192, 247); 
    border: 1px black solid;
   
}



p {
  text-align: center;
  font-size: 18px;
  font-family: Georgia, serif; 
}

section > span {
  background-color: rgb(147, 141, 185);
}



span {
font-size: 20px;
font-family: Georgia, serif; 
  border: 1px solid black;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 0;
  bottom: 0;
  right: 0;
}

/* media rule started here */


@media (max-width: 767px) {
  body {
       background-color: rgb(174, 180, 214) ; 
      }
  section {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: rgb(159, 197, 167);
  }
  section#falafel {
    width: 50%;
  }
  section#hummus {
    width: 50%;
  }
  section#burger {
    width: 100%;
}
}
